<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permiso necesario para mostrar notificaciones a partir de Android 13 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PocketU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketU">

        <activity
            android:name=".MovimientosActivity"
            android:exported="false" />

        <!-- AQUÍ ESTÁ LA MAGIA: Agregamos el windowSoftInputMode -->
        <activity
            android:name=".AgregarMovimientoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".BienvenidaActivity"
            android:exported="false" />

        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>